@import '../../../../../styles/variabbles';

.variantsBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  .variant {
    width: 50%;
    padding: 1rem;
  }
  /* xs (<=543px) */
  @media (max-width: $xs-max) {
    padding: 0;
    font-size: $font-S;
  }

  /* sm (>=576 и <=767) */
  @media (min-width: $sm) and (max-width: $sm-max) {
    padding: 0;
    font-size: 1rem;
  }

  /* md (>=768 и <=991) */
  @media (min-width: $md) and (max-width: $md-max) {
    padding: 0 5rem;
    font-size: $font-L;
  }
  /* lg (>=992 и <=1199) */
  @media (min-width: $lg) and (max-width: $lg-max) {
    padding: 0 5rem;
    font-size: $font-L;
  }

  /* xl (>=1200) */
  @media (min-width: $xl) {
    padding: 0 5rem;
    font-size: $font-L;
  }
  .labelVariant {
    display: block;
    background: $light;
    border: 2px solid $secondary;
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
    position: relative;
    cursor: pointer;
    &:hover {
      background: $background;
    }
      /* xs (<=543px) */
  @media (max-width: $xs-max) {
    min-width: 0;
    height: 100%;
  }

  /* sm (>=576 и <=767) */
  @media (min-width: $sm) and (max-width: $sm-max) {
    min-width: 5rem;
    height: 100%;
  }

  /* md (>=768 и <=991) */
  @media (min-width: $md) and (max-width: $md-max) {
    min-width: 10rem;
    height: 100%;
  }
  /* lg (>=992 и <=1199) */
  @media (min-width: $lg) and (max-width: $lg-max) {
    min-width: 10rem;
    height: 100%;
  }

  /* xl (>=1200) */
  @media (min-width: $xl) {
    min-width: 10rem;
    height: 100%;
  }
  }
}
input[type='radio']:checked + label {
  background: $secondary;
  color: hsla(215, 0%, 100%, 1);
  box-shadow: 0px 0px 20px $secondary;
}
.choiceModal {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  flex-direction: row;
  justify-content: center;
  background:  rgba(0,0,0,0.85);
  align-items: center;
  top: 0;
  animation: fadeIn 1s;
}
.rightChoice, .badChoice {
        /* xs (<=543px) */
        @media (max-width: $xs-max) {
          font-size: $font-XL;
        }

        /* sm (>=576 и <=767) */
        @media (min-width: $sm) and (max-width: $sm-max) {
          font-size: $font-XL;
        }

        /* md (>=768 и <=991) */
        @media (min-width: $md) and (max-width: $md-max) {
          font-size: $font-XL;
        }
        /* lg (>=992 и <=1199) */
        @media (min-width: $lg) and (max-width: $lg-max) {
          font-size: $font-heading_1;
        }

        /* xl (>=1200) */
        @media (min-width: $xl) {
          font-size: $font-heading_0;
        }
}
.rightChoice {

  color: $success;
}
.badChoice {
  color:$accent;
}
