@import '../../../../styles/variabbles';

.content {
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  transform-origin: center center;

  &.isActive {
    opacity: 1;
    visibility: visible;

    pointer-events: auto;
    @include transform(scale(1, 1));
  }
  &>div {
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background-color:$light;
    border-radius: 8px;
    box-shadow: $shadow2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .modalContent {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
.close-button {
  color:$accent;
  font-size: $font-heading_3;
  top: 20px;
  right: 20px;
  position: absolute;
  @include transition(opacity 0.2s ease-in);

  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}
.hint-title {
  width: 100%;
  margin-bottom: $spacer-M;
  font-size: $font-heading_1;
  color:$primary;
  text-align: center;
}
.hint-body {
  width: 100%;
  font-size: $font-heading_3;
  color: $text;
  text-align: center;
}