@import '../../../styles/variabbles';

.roomImg {
  position: relative;
  background: url('../../../assets/room.svg') no-repeat;
  background-size: contain;
  background-position: center;

  /* xs (<=543px) */
  @media (max-width: $xs-max) {
    height: 100vw;
  }

  /* sm (>=576 и <=767) */
  @media (min-width: $sm) and (max-width: $sm-max) {
    height: 40vw
  }

  /* md (>=768 и <=991) */
  @media (min-width: $md) and (max-width: $md-max) {
    height: 100vw;
  }
  /* lg (>=992 и <=1199) */
  @media (min-width: $lg) and (max-width: $lg-max) {
    height: 60vw;
  }

  /* xl (>=1200) */
  @media (min-width: $xl) {
    height: 40vw
  }
}
