@import '../../styles//variabbles';

.intro {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;

  /* xs (<=543px) */
  @media (max-width: $xs-max) {
    padding-left: 0;
  }

  /* sm (>=576 и <=767) */
  @media (min-width: $sm) and (max-width: $sm-max) {
    padding-left: 1rem;
  }

  /* md (>=768 и <=991) */
  @media (min-width: $md) and (max-width: $md-max) {
    padding-left: 5rem;
  }

  /* lg (>=992 и <=1199) */
  @media (min-width: $lg) and (max-width: $lg-max) {
    padding-left: 6rem;
  }

  /* xl (>=1200) */
  @media (min-width: $xl) {
    padding-left: 20rem;
  }
}

.description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* xs (<=543px) */
  @media (max-width: $xs-max) {
    width: 75%;
  }
  /* sm (>=576 и <=767) */
  @media (min-width: $sm) and (max-width: $sm-max) {
    width: 75%;
  }
  /* md (>=768 и <=991) */
  @media (min-width: $md) and (max-width: $md-max) {
    width: 90%;
  }

  /* lg (>=992 и <=1199) */
  @media (min-width: $lg) and (max-width: $lg-max) {
    width: 40%;
  }

  /* xl (>=1200) */
  @media (min-width: $xl) {
    width: 40%;
  }

  .title {
    width: 100%;
    color: $primary;
    font-weight: bold;
    mix-blend-mode: normal;
    text-shadow: 10px 10px 4px rgba(31, 31, 31, 0.34);
    &-char {
      opacity: 0;
      animation: laserOn 500ms steps(5) forwards;
      /* 5 - $titleChars */
      @for $i from 1 to 5 {
        $titleTempo: 200ms;
        &:nth-of-type(#{$i}) {
          @if $i < 5 {
            animation-delay: calc(#{$titleTempo} + 150ms * (#{$i} - 1));
          } @else {
            animation-delay: calc((#{$titleTempo}* 2) + 150ms * (#{$i} - 1));
          }
        }
      }
    }

    /* xs (<=543px) */
    @media (max-width: $xs-max) {
      font-size: 130px;
    }

    /* sm (>=576 и <=767) */
    @media (min-width: $sm) and (max-width: $sm-max) {
      font-size: 130px;
    }

    /* md (>=768 и <=991) */
    @media (min-width: $md) and (max-width: $md-max) {
      font-size: 130px;
    }
    /* lg (>=992 и <=1199) */
    @media (min-width: $lg) and (max-width: $lg-max) {
      font-size: 195px;
    }

    /* xl (>=1200) */
    @media (min-width: $xl) {
      font-size: 242px;
    }
  }
  .subtitle {
    width: 100%;
    color: rgba(31, 31, 31, 0.42);
    font-weight: bold;
    position: relative;

    /* xs (<=543px) */
    @media (max-width: $xs-max) {
      font-size: 50px;
      bottom: 65px;
      left: 5px;
    }

    /* sm (>=576 и <=767) */
    @media (min-width: $sm) and (max-width: $sm-max) {
      font-size: 50px;
      bottom: 65px;
      left: 5px;
    }

    /* md (>=768 и <=991) */
    @media (min-width: $md) and (max-width: $md-max) {
      font-size: 51px;
      bottom: 65px;
      left: 5px;
    }
    /* lg (>=992 и <=1199) */
    @media (min-width: $lg) and (max-width: $lg-max) {
      bottom: 100px;
      left: 9px;
      font-size: 75px;
    }

    /* xl (>=1200) */
    @media (min-width: $xl) {
      bottom: 120px;
      left: 9px;
      font-size: 95px;
    }
  }
}
.sherlok {
  background-image: url('../../assets/sherlok.png');
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: contain;
  /* xs (<=543px) */
  @media (max-width: $xs-max) {
    height: 100%;
    width: 18%;
  }

  /* sm (>=576 и <=767) */
  @media (min-width: $sm) and (max-width: $sm-max) {
    height: 100%;
    width: 100%;
  }

  /* md (>=768 и <=991) */
  @media (min-width: $md) and (max-width: $md-max) {
    height: 60%;
    width: 100%;
  }
  /* lg (>=992 и <=1199) */
  @media (min-width: $lg) and (max-width: $lg-max) {
    height: 100%;
    width: 50%;
  }

  /* xl (>=1200) */
  @media (min-width: $xl) {
    height: 100%;
    width: 50%;
  }
}

.tip {
  text-decoration: underline;

  animation: fadeIn 400ms 2.3s forwards ease-out;
  color: $text;
  white-space: nowrap;
  visibility: visible;
  &Text {
    opacity: 0;
    animation: fadeIn 400ms 4s forwards ease-out;
    &.isActive {
      cursor: pointer;
      visibility: visible;
      opacity: 1;
      transition: opacity 400ms ease-out;
      .isHidden & {
        transition: opacity 250ms ease-out;
        opacity: 0;
        visibility: hidden;
      }
    }
  }
  /* xs (<=543px) */
  @media (max-width: $xs-max) {
    position: absolute;
    left: 30%;
    bottom: 15rem;
    font-size: 3.4rem;
  }

  /* sm (>=576 и <=767) */
  @media (min-width: $sm) and (max-width: $sm-max) {
    position: absolute;
    left: 3%;
    bottom: 8rem;
    font-size: 2.4rem;
  }

  /* md (>=768 и <=991) */
  @media (min-width: $md) and (max-width: $md-max) {
    position: absolute;
    left: 8%;
    top: 60rem;
    font-size: 3.4rem;
  }
  /* lg (>=992 и <=1199) */
  @media (min-width: $lg) and (max-width: $lg-max) {
    position: absolute;
    left: 90%;
    bottom: 40rem;
    font-size: 3.4rem;
  }

  /* xl (>=1200) */
  @media (min-width: $xl) {
    position: absolute;
    left: 90%;
    font-size: 2.4rem;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
